@import "./utils/variables.scss";


.form {
  position: relative;
  background-color: $black-2;

  width: 592px;
  height: 660px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 15px;

  &__header {
    border-radius: 8px;
    background: #292930;
    padding: 16px 16px 24px;
    margin-bottom: 15px;

    &-title {
      color: $gray-1;
      font-family: 'TT Smalls';
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; 
      margin-bottom: 4px;
    }

    &-input {
      display: block;
      padding: 14px 16px;
      border-radius: 8px;
      border: 2px solid $gray-1;
      background: $black;
      color: $white-1;
      font-family: 'TT Smalls';
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; 
      width: 100%;
    }
  }

  &__responsibilities {

    &-title {
      color: $gray-1;
      font-family: 'TT Smalls';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; 

      &-block {
        border-radius: 8px 8px 0px 0px;
        background: $black;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
        padding: 11px 0px 9px 16px;
        position: absolute;
        width: 560px;
        z-index: 4;
      }
    }

    &-content {
      padding: 12px 11px;
      border-radius: 8px;
      background: $black;
      margin-bottom: 8px;
      padding-top: 52px;
      height: 447px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

    &-job{
      width: 50%;
      position: absolute;
    
      &--1 {
      }

      &--2 {
       left: 50%;
      }

      &--3 {
        top: 196px;
      }

      &--4 {
        top: 158px;
        left: 50%;
      }
      &-title{
        color: $gray-1;
        font-family: 'TT Smalls';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; 
        margin-bottom: 4px;
      }

      &-category {
        margin-bottom: 8px;
        display: flex;
        position: relative;

        &-text{
          color: $white-1;
          font-family: 'TT Smalls';
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          }

        &-input{
          -webkit-appearance: none;
          appearance: none;
          position: absolute;

          &:checked + .form__responsibilities-job-category-label {
            &::after{
              opacity: 1;
            }

            &::before{
              border: 2px solid var(--white-8, rgba(103, 100, 241, 1));
            }
          }
        }

        &-label {
          cursor: pointer;
          padding-left: 32px;
          height: 28px;
          display: flex;
          align-items: center;

          &:before{
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            border: 2px solid  rgba(245, 245, 245, 0.08);
            color: $black;
            position: absolute;
            top: 0;
            left: 0;
            position: absolute;
            cursor: pointer;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            top:0;
            left: 0;
            background: url('/images/check.svg') no-repeat;
            background-size: 26px 26px;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
    }

    &-button {
      padding: 14px;
      width: 100%;
      border-radius: 8px;
      border: 2px solid  rgba(245, 245, 245, 0.16);
      background: $violet;
      box-shadow: 0px 4px 40px 0px rgba(104, 102, 234, 0.24);
      color: $white-1;
      text-shadow: 0px 4px 8px rgba(245, 245, 245, 0.24);
      font-family: 'TT Smalls';
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; 
      cursor: pointer;
    }
  }
}