.app {
  font-family: 'TT Smalls';
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(38, 37, 52, 0.72) 0%, rgba(38, 37, 52, 0.72) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.24) 100%), url('/images/bg.png'), lightgray 0% 0% / 1.9999999552965164px 1.9999999552965164px repeat;
}