@import "./utils/variables.scss";




.table {
  padding: 24px 25px 20px;
  background-color: $black;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  width: 1034px;
  height: 836px;  

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid $white-8;
    border-radius: 8px 8px 0px 0px;
  }

  &__category {
    padding: 12px 0px;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-right: 2px solid $white-8;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 2px solid $white-8;

    &:first-child {
      border-left: 2px solid $white-8;
    }

    &--is-active {
      background: $black;
      box-shadow: 0px 4px 8px 0px rgba(103, 100, 241, 0.16) inset;
      color: $violet;
      border-radius: 8px 8px 0px 0px;
      border: 2px solid $white-8;
      border-bottom: none;
      border-top: none;
    }

    &--before-active {
      border-right: none;;
    }

    &-text {
      cursor: pointer;
      text-align: center;
      color: $gray-2;
      font-family: 'TT Smalls';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }
  }

  &__content {
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    width: max;
    padding: 24px 40px 40px;
    display: flex;
  }
}
